@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Questrial, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #000085;
}

h3 {
    letter-spacing: 3px;
}

header {
    padding: 20px;
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    text-transform: capitalize;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
    margin: 20px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    transition: border-bottom 0.3s ease;
}

#menu a:hover {
    background-color: #000085;
    color: #f1f9ff;
}

.active {
    border-bottom: 1px solid #000085;
}

/* hero-image and cover-text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #f1f9ff;
    text-align: center;
}

#cover-text {
    font-size: 130%;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;

    width: 780px;
    height: 200px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(9, 93, 126, 0.8);

    bottom: 50px;
    left: 150px;

    position: absolute;

    border-radius: 5px;
}

/* about us homepage */

.title {
    font-size: 230%;
}

#home-about {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    background-color: #E4EDF6;
    line-height: 1.5;
    clear: both;
}

.centered-text {
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.button {
    text-align: center;
}

#learn-more-btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #000085;
    color: #f1f9ff;
    text-decoration: none;
    border-radius: 5px;
}

#learn-more-btn:hover {
    background-color: rgba(9, 93, 126, 0.8);
}

/* our services homepage */

#home-services {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    line-height: 1.5;
    clear: both;
}

#home-checkup,
#home-clinical,
#home-exams {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.img-services {
    background-color: #f0f0f0;
    padding: 20px;
    display: inline-block;
    align-items: center;
    border-radius: 5px;
}

.img-services img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.text-services {
    background-color: #f0f0f0;
}

.text-services p {
    font-size: larger;
}

/* testimonials */

#testimonials {
    width: 100%;
    line-height: 1.5;
}

.pb-20 {
    padding-bottom: 20px;
}

#testimonials>div {
    background-color: #E4EDF6;
    width: 25%;
    height: auto;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    line-height: 20px;
}

.img-testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#testimonials p {
    padding-bottom: 20px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* welcome section */

#welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#welcome>div {
    width: 50%;
}

#welcome img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* our team section */

#our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4EDF6;
    margin: 20px 0;
    padding: 20px 0;
}

#photos-our-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#photos-our-team>div {
    text-align: center;
    margin: 0 20px;
}

.photo-team {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-team img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
}

#photos-our-team h3 {
    font-size: 28px;
    margin-top: 20px;
}

/* our services */

#our-services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#complete-checkup,
#clinical-investigations,
#exams {
    flex-basis: 30%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#complete-checkup {
    background-color: #E3F2FD;
}

#clinical-investigations {
    background-color: #FFF9C4;
}

#exams {
    background-color: #e0e0e0;
}

#our-services ul,
#our-services p {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
}

#our-services li,
#our-services p {
    font-size: 110%;
}

/* gallery */

#gallery h1 {
    padding-top: 20px;
}

#photos-gallery {
    margin-top: 20px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos-gallery>img {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

/* form */

.form-section {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 99%;
    height: 600px;
}

#question {
    position: absolute;
    left: auto;
    width: 50%;
    height: 600px;
    text-align: center;
    font-size: 120%;
}

#question h2 {
    padding-bottom: 20px;
}

#fill-form {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 600px;
    background-color: #E4EDF6;
    border-radius: 5px;
    border: 1px solid aliceblue;
}

#text-fill-form {
    margin: 20px;
}

.text-input {
    background: white;
    color: #000085;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 10px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}

.text-input:hover {
    border-color: #f16c6b;
}

textarea {
    min-height: 118px;
}

.send-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #070561;
    color: #f1f9ff;
    display: block;
}

.send-button:hover {
    background-color: rgba(9, 93, 126, 0.8);
}

/* contact */

#contact {
    margin: 20px 0;
}

.contact-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.contact-box-left {
    flex-basis: 30%;
}

.contact-box-center {
    flex-basis: 30%;
    text-align: center;
    height: 113.6px;
}

.contact-box-right {
    flex-basis: 30%;
    line-height: 1.5;
    height: 113.6px;
}

.contact-box-left h3 {
    padding: 0 0 10px 40px;
}

th,
td {
    padding: 5px;
    text-align: center;
}

.contact-box-center p {
    line-height: 1.5;
}

/* map */

#map-wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* Thank you */
#thankyou {
    background-color: #E4EDF6;
}

#footer-thankyou {
    padding-top: 600px;
}

/* Media queries */

/* For larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #menu {
        clear: both
    }

    #photos-our-team {
        flex-wrap: wrap;
    }

    #photos-our-team>div {
        flex-basis: 50%;
        margin: 20px 0;
    }

    .photo-team {
        width: 250px;
        height: 250px;
    }

    .photo-team img {
        width: 220px;
        height: 220px;
    }

    #photos-our-team h3,
    #photos-our-team p {
        text-align: left;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #hero-outer {
        height: 400px;
    }

    #hero-image {
        height: 400px;
    }

    #cover-text {
        width: 500px;
        height: 150px;
        bottom: 30px;
        left: 100px;
        font-size: 80%;
    }

    #photos-gallery {
        column-count: 3;
    }

    #photos-gallery>img {
        width: 80%;
        margin: 0 auto;
    }
}

/* For small screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #photos-gallery {
        column-count: 2;
    }
}