@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Questrial, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #000085;
}

header {
    padding: 20px;
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    text-transform: capitalize;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
    margin: 20px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    transition: border-bottom 0.3s ease;
}

#menu a:hover {
    background-color: #000085;
    color: #f1f9ff;
}

.active {
    border-bottom: 1px solid #000085;
}

/* hero-image and cover-text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #f1f9ff;
    text-align: center;
}

#cover-text {
    font-size: 130%;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;

    width: 780px;
    height: 200px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(9, 93, 126, 0.8);

    bottom: 50px;
    left: 150px;

    position: absolute;

    border-radius: 5px;
}

/* about us homepage */
.title {
    font-size: 230%;
}

#home-about {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    background-color: #E4EDF6;
    line-height: 1.5;
    clear: both;
}

#home-about p {
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.button {
    text-align: center;
}

#learn-more-btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #000085;
    color: #f1f9ff;
    text-decoration: none;
    border-radius: 5px;
}

#learn-more-btn:hover {
    background-color: rgba(9, 93, 126, 0.8);
}

/* our services homepage */
#home-services {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    line-height: 1.5;
    clear: both;
}

#home-checkup,
#home-clinical,
#home-exams {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.img-services {
    background-color: #f0f0f0;
    padding: 20px;
    display: inline-block;
    align-items: center;
    border-radius: 5px;
}

.img-services img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.text-services {
    background-color: #f0f0f0;
}

.text-services p {
    font-size: larger;
}

/* testimonials */
#testimonials>div{
    background-color: #E4EDF6;
    width: 25%;
    height: 380px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    line-height: 20px;
}

#testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}